:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --third-color: #272142;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 62px;
}

h3 {
    font-size: 48px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.logo {
    max-height: 40px;
}

.nav-item {
    margin: 0 20px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.navbar-nav .nav-link.active { 
    color: var(--branding-color);
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
}

.hero p {
    font-weight: bold;
    font-size: 36px;
}

.hero h2 {
    color: var(--third-color);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}

.btn-branding {
    background: var(--branding-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px; 
}

.project-description {
    padding: 120px 60px;
}

.contact-box {
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 50px 120px;
    margin-top: 100px;
}    

.contact-box h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.contact-box p {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: var(--third-color);
    margin: 0;
}

.contact-btn {
    background: var(--branding-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin-top: 15px;
}        

.email-link {
    color: var(--third-color);
    text-decoration: none;
    font-size: 24px;
    line-height: 1.5;
}

.email-link:hover {
    text-decoration: underline;
    color: var(--branding-color);
}

.social-links a {
    font-size: 20px;
    line-height: 24px;
    color: var(--branding-color);
    margin: 0 20px;
    background: rgba(108, 99, 255, 0.05);
    border-radius: 40px;
    padding: 10px 15px;
    transition: all 100ms ease-in-out;
}

.social-links a:hover {
    color: white;
    background: var(--branding-color);
}

.content-container {
    padding: 120px 60px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
font-size: 24px;
font-family: var(--default-font-family);
font-weight: 700;
line-height: 1.5;
}

.content p {
    font-size: 14px;
}

.content {
    margin: 30px;
}

.round-img {
    border-radius: 15px;
}

.developer {
    font-size: 12px;
}

@media (max-width: 960px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 44px;
    } 

    .project-description {
        padding: 0;
        text-align: center;
    }

    .contact-box {
        margin-top: 50px;
        padding: 20px 40px;
    }

    .contact-box h3 {
        font-size: 26px;
        line-height: 1.5;
    }

    .contact-box p {
        font-size: 14px;
    }

    .contact-btn{
        font-size: 16px;
        line-height: 1.5;
        padding: 10px 20px;
        margin: 20px 0 0 20px;
    }

    .email-link {
        font-size: 18px;
    }

    .content {
        text-align: center;
        padding: 0;
    }

    .content h1 {
        font-size: 44px;
        line-height: 1.5;
    }
}